.row
  %div{ :class => 'column grid_7'}
    %h2 Listing users

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'New user', new_user_path

.row
  %div{ :class => 'column grid_12'}

    %table.data-table
      %tr
        %th Full name
        %th Email
        %th
        %th
        %th

      - @users.each do |user|
        %tr
          %td= user.fullname
          %td= user.email
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

