.row
  %div{ :class => 'column grid_7'}
    %h2= @user.fullname

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'Users', users_path

.row
  %div{ :class => 'column grid_12'}
    #filter-bar
      = form_tag @user, :method => :get do
        .field
          = label_tag 'Show last'
          = select_tag 'days', options_for_select(day_opts, params[:days])

        %span
          or specify a custom

        .field
          = label_tag 'date range'
          = text_field_tag :start_date, params[:start_date]
          %span to
          = text_field_tag :end_date, params[:end_date]

        = submit_tag 'Filter', :name => nil
      %a.clear{:href => ''} Clear

    .child-data
      / = render :partial => 'shared/time_grid', :locals => { :time_entries => @time_entries }
      %h3= user_show_time_title

      %table.data-table
        %tr
          %th Client
          %th Project
          %th Date
          %th Work Type
          %th Billing Type
          %th Duration
          %th Description
          %th

        - @time_entries.each do |time|
          %tr
            %td= link_to time.project.client.short_name, client_path(time.project.client)
            %td= link_to time.project.name, project_path(time.project)
            %td= format_date(time.date)
            %td= time.work_type_display
            %td= time.billing_type_display
            %td= time.duration_display
            %td= time.abbr_description
            %td.crud-action
              - if current_user == time.user
                %a.item-menu-button{:href => '', :data => { |
                  :items => [ |
                    {:name => 'Edit', :path => edit_project_time_entry_path(time.project, time)}, |
                    {:name => 'Add Time to Project', :path => new_project_time_entry_path(time.project)}, |
                    {:name => 'Destroy', :path => project_time_entry_path(time.project, time)} |
                    ].to_json |
                  } |
                } Menu |

= javascript_include_tag 'filter_bar', 'item_menu'
