.row
  %div{ :class => 'column grid_7'}
    %h2 Listing clients

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'New Client', new_client_path

.row
  %div{ :class => 'column grid_12'}

    %table.data-table
      %tr
        %th Name
        %th
        %th
        %th

      - @clients.each do |client|
        %tr
          %td= client.name
          %td.crud-action= link_to 'Show', client
          %td.crud-action= link_to 'Edit', edit_client_path(client)
          %td.crud-action= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

