.row
  %div{ :class => 'column grid_7'}
    %h2= @client.name

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'Add Project', new_client_project_path(@client)
      = link_to 'Edit Client', edit_client_path(@client)

.row
  %div{ :class => 'column grid_12'}

    .child-data
      %h3 Projects

      %table.data-table
        %tr
          %th Project Name
          %th

        - @client.projects.each do |project|
          %tr
            %td= link_to project.name, project

            %td.crud-action
              %a.item-menu-button{:href => '', :data => { |
                :items => [ |
                  add_link_data(project), |
                  {:name => 'Edit', :path => edit_project_path(project)}, |
                  {:name => 'Destroy', :path => project_path(project)} |
                  ].to_json |
                } |
              } Menu |

- content_for :scripts do
  = javascript_include_tag 'item_menu'
