.row
  %div{ :class => 'column grid_7'}
    %h2= @client.name

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'Add Project', new_client_project_path(@client)
      = link_to 'Edit Client', edit_client_path(@client)

.row
  %div{ :class => 'column grid_12'}

    .child-data
      %h3 Projects

      %table.data-table
        %tr
          %th Project Name
          %th{ :colspan => 3 }

        - @client.projects.each do |project|
          %tr
            %td= link_to project.name, project
            %td.crud-action= link_to 'Add Time', new_project_time_entry_path(project), :class => 'add-time-link'
            %td.crud-action= link_to 'Edit', edit_project_path(project)
            %td.crud-action= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
