
.row
  %div{ :class => 'column grid_12'}
    #search-box
      %form
        %input{ :type => 'text'}
        %input{ :type => 'submit', :value => 'Search'}

.row
  %div{ :class => 'column grid_9'}
    #stream
      = render 'stream'

  %div{ :class => 'column grid_3'}
    %h3 Recent Projects

    %ul.quick-links
      - @recently_updated_projects.each do |project|
        %li
          = link_to project.name, project
          for
          = link_to project.client.short_name, project.client

    .quick-links-footer
      = link_to 'More', projects_path

    %h3 New Clients

    %ul.quick-links
      - @clients.each do |client|
        %li= link_to client.name, client_path(client)

    .quick-links-footer
      = link_to 'More', clients_path

    %h3 New Projects

    %ul.quick-links
      - @projects.each do |project|
        %li= link_to project.name, project_path(project)

    .quick-links-footer
      = link_to 'More', projects_path

