.row
  %div{ :class => 'column grid_7'}
    %h2= "#{@project.name} for #{@project.client.name}"

  %div{ :class => 'column grid_5'}
    #manage-nav
      = link_to 'Add Time', new_project_time_entry_path(@project), :class => 'add-time-link'
      = link_to 'Edit Project', edit_project_path(@project)
      = link_to 'View Client', @project.client

.row
  %div{ :class => 'column grid_12'}

    .child-data
      %h3 Time Entries

      %table.data-table
        %tr
          %th User
          %th Date
          %th Work Type
          %th Billing Type
          %th Duration
          %th Description
          %th

        - @project.time_entries.each do |time_entry|
          %tr
            %td= link_to time_entry.user.fullname, user_path(time_entry.user)
            %td= format_date(time_entry.date)
            %td= time_entry.work_type_display
            %td= time_entry.billing_type_display
            %td= time_entry.duration_display
            %td.description= time_entry.abbr_description
            %td.crud-action
              - if current_user == time_entry.user
                %a.item-menu-button{:href => '', :data => { |
                  :items => [ |
                    edit_link_data(time_entry), |
                    destroy_link_data(time_entry) |
                    ].to_json |
                  } |
                } Menu |

- content_for :scripts do
  = javascript_include_tag 'item_menu'
