#time-entry-form
  = form_for [@project, @time_entry], :remote => true do |f|

    -if @time_entry.errors.any?
      #error_explanation
        %h2= "#{pluralize(@time_entry.errors.count, "error")} prohibited this time_entry from being saved:"
        %ul
          - @time_entry.errors.full_messages.each do |msg|
            %li= msg

    .field
      %span.readonly
        = @project.client.name
      &mdash;
      %span.readonly
        = @project.name
    .col.clear
      = f.label :work_type
      = f.select :work_type, WorkTypes.for_select
    .col
      = f.label :billing_type
      = f.select :billing_type, BillingTypes.for_select
    .col.date
      = f.label :date
      = f.text_field :date
    .col.duration
      = f.label :duration
      = f.text_field :duration
      %span
        hrs
    .field
      = f.label :description
      = f.text_area :description, :rows => 4

    .actions
      = f.submit 'Save'
