!!!5
%html
  %head
    %title
      Trackalack

    = stylesheet_link_tag 'reset', 'application', 'sign_in'
    = csrf_meta_tag

%body
  %h1 Trackalack

  #box
    = rails_msg(:alert)
    = rails_msg(:notice)
    = yield

